<div id="EventsIndex" class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    <span>{{l('Events')}}</span>
                    <p (click)="createEvent()" class="btn btn-primary btn-sm" role="button">
                        <i class="material-icons">add</i>
                    </p>
                    <!-- <a (click)="openNewEventDialog()" class="btn btn-primary btn-sm">
                        <i class="material-icons">add</i>
                    </a>-->
                    <!-- <span class="pull-right m-r-100 ">-->
                    <span class="pull-right m-r-40 ">
                        <input [(ngModel)]="filters.includeCancelledEvents" (change)="watchIncludeCancelledEventsCheckBox($event)" type="checkbox" name="includeCanceledCheckBox" value="value_Name" class="filled-in" id="includeCanceledCheckBox" checked/>
                        <label for="includeCanceledCheckBox">{{l('ShowCanceledEvents')}}</label>
                    </span>
                </h2>

                <ul class="header-dropdown m-r--5">
                    <i class="fa fa-spin fa-spinner" *ngIf="isTableLoading"></i>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);" class=" waves-effect <waves-block></waves-block>" (click)="refresh();"><i class="material-icons">refresh</i> Refresh</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div *ngFor="let event of events" class="event-registration-info col-md-6">
                    <div class="event-body">
                        <h3 class="event-title">{{event.title}}</h3>
                        <p>{{event.description}}</p>
                        <div *ngIf="event.isCancelled" class="event-canceled-info">l('ThisEventIsCanceled')</div>
                        <div class="event-registration-info">
                            <span *ngIf="event.registrationsCount < event.maxRegistrationCount">
                                XofYregistered
                                <!-- {{l("XofYregistered", "{{event.registrationsCount}}", "{{event.maxRegistrationCount}}")}}-->
                            </span>
                            <span *ngIf="event.maxRegistrationCount > 0 && event.registrationsCount >= event.maxRegistrationCount">
                                <!-- {{l("XregisteredNoNewRegistrationAvailable", "{{event.registrationsCount}}")}}-->
                                XregisteredNoNewRegistrationAvailable
                            </span>
                            <span *ngIf="event.maxRegistrationCount <= 0">
                                XregisteredUnlimitedRegistrations
                                <!-- @L("XregisteredUnlimitedRegistrations", "{{event.registrationsCount}}")-->
                            </span>
                        </div> weiter mit eventd etails page (angular route)
                        <div class="event-actions">
                            <a href="#/events/{{event.id}}" class="btn btn-sm btn-info" role="button">l('Details')</a>
                        </div>
                        <span class="event-date">
                            <i class="material-icons">perm_contact_calendar</i><i>{{event.date | date}}</i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- <div class="body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>IsCancelled</th>
                        <th>MaxRegistrationCount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let event of events ">
                        <td>{{event.title}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.date}}</td>
                        <td>{{event.isCancelled}}</td>
                        <td>{{event.maxRegistrationCount}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>-->
        </div>
    </div>
</div>

<create-event-modal #createEventModal (modalSave)="loadEvents()"></create-event-modal>
